@page "/Category"

@if (IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="~/img/loader.gif" alt="loading">
    </div>
}
else
{
    @* <div class="card shadow border-0 mt-4"> *@
    @*     <div class="card-header bg-black bg-gradient ml-0 py-3"> *@
    @*         <div class="row"> *@
    @*             <div class="col-12 text-center"> *@
    @*                 <h2 class="text-white py-2">Category List</h2> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    
    <MudCard>
        <MudCardHeader Style="text-align:center;background-color:black;">
            <CardHeaderContent>
                <MudText Typo="Typo.h6" Class="text-white">CategoryList</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <div style="display: flex;justify-content: flex-end;">
                <MudButton Variant="Variant.Filled" Color="Color.Secondary">Add New Category</MudButton>
            </div> 
            <p>Category List</p>
        </MudCardContent>
    </MudCard>
}


@code {
    public bool IsProcessing { get; set; } = false;
    
}